

.cart-product{
    border: 2px solid #D1D1D1;
    border-radius: 12px;
    width: 100%;
    height: auto;
    display: flex;
    margin: 25px 0;

}

 .cart-img{
    background-color: #F9F9F9;
    border-radius: 12px;

    width: 240px;
    height: auto;
}

 .cart-info{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 240px);
}

 .cart-product-name{
    font-family: "Poppins",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 4px;

}

.cart-product-description{
    font-family: "Poppins",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;

    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 16px;
    color: #240707;

    margin-bottom: 8px;
}

.cart-product-rating svg{
    margin-right: 5px;
}

 .cart-product-rating{
    margin-bottom: 25px;
}

 .cart-product-supplier,.cart-product-status,.cart-product-trademark{
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #A9A9A9;
    padding: 6px 0;
}

 .cart-info span{
    display: block;
   width: 120px;
}

.cart-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-right-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-product-price{
    margin-right: 20px;
}

 .product-new-price{
    font-family: "Poppins",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;

}

 .product-old-price{
    font-family: "Poppins",sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color: #A9A9A9;

}

.product-number{
    display: flex;
}
 .product-button-minus{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
height: 30px;
border: 1.5px solid #E1E1E1;
border-radius: 50px 0px 0px 50px;
}

 input{
    text-align: center;
    width: 50px;
height: 30px;
border: 1.5px solid #E1E1E1;
border-left: 0;
border-right: 0;
}

 .product-button-add{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
height: 30px;
border: 1.5px solid #E1E1E1;

border-radius: 0px 50px 50px 0px;
}

.cart-right-bottom{
    font-family: "Poppins",sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.cart-right-bottom span{
    font-family: "Poppins",sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px;
letter-spacing: 0em;
text-align: center;

}

